@font-face {
        font-family: "Mulish-Black";
        src: local("Mulish-Black.ttf"),
          url("./fonts/Mulish-Black.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-BlackItalic";
        src: local("Mulish-BlackItalic.ttf"),
          url("./fonts/Mulish-BlackItalic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-Bold";
        src: local("Mulish-Bold.ttf"),
          url("./fonts/Mulish-Bold.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-BoldItalic";
        src: local("Mulish-BoldItalic.ttf"),
          url("./fonts/Mulish-BoldItalic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-ExtraBold";
        src: local("Mulish-ExtraBold.ttf"),
          url("./fonts/Mulish-ExtraBold.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-ExtraBoldItalic";
        src: local("Mulish-ExtraBoldItalic.ttf"),
          url("./fonts/Mulish-ExtraBoldItalic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-ExtraLight";
        src: local("Mulish-ExtraLight.ttf"),
          url("./fonts/Mulish-ExtraLight.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-ExtraLightItalic";
        src: local("Mulish-ExtraLightItalic.ttf"),
          url("./fonts/Mulish-ExtraLightItalic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-Italic";
        src: local("Mulish-Italic.ttf"),
          url("./fonts/Mulish-Italic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-Light";
        src: local("Mulish-Light.ttf"),
          url("./fonts/Mulish-Light.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-LightItalic";
        src: local("Mulish-LightItalic.ttf"),
          url("./fonts/Mulish-LightItalic.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-Regular";
        src: local("Mulish-Regular.ttf"),
          url("./fonts/Mulish-Regular.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-SemiBold";
        src: local("Mulish-SemiBold.ttf"),
          url("./fonts/Mulish-SemiBold.ttf") format("truetype");
    }
@font-face {
        font-family: "Mulish-SemiBoldItalic";
        src: local("Mulish-SemiBoldItalic.ttf"),
          url("./fonts/Mulish-SemiBoldItalic.ttf") format("truetype");
    }
